<html>
  <body>

    <div>
      <h1 id="message">Welcome to Travis' website...</h1>
    </div>

    <div class="pixel-me1">
      <img src="https://i.ibb.co/7VS09Cc/Screen-Shot-2021-05-06-at-3-41-57-PM.png" alt="Screen-Shot-2021-05-06-at-3-41-57-PM" alt="">
    </div>

    <!-- <div class="pixel-me2">
      <img src="https://media.giphy.com/media/fSHrcC8rUk3rMARnxd/giphy.gif" id="my-head" alt="my head in pixel form">
    </div> -->
  </body>
</html>
